body{
	margin:0;
}

.matrix{
	position:absolute;
	overflow: hidden;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.col{
	width:20%;
	height:20%;
	float:left;
	overflow:hidden;
	position:relative;

	-webkit-transition: all .25s ease ;
	   -moz-transition: all .25s ease ;
	    -ms-transition: all .25s ease ;
	     -o-transition: all .25s ease ;
	        transition: all .25s ease ;
}

.pane{
	position:absolute;
	width:100%;
	height:100%;
	font-size: 1.4vw;
	display: table-cell;
	vertical-align: bottom;
	cursor:pointer;

	-webkit-transition: all .7s ease-out;
	   -moz-transition: all .7s ease-out;
	    -ms-transition: all .7s ease-out;
	     -o-transition: all .7s ease-out;
	        transition: all .7s ease-out;
}
.content{
	position:absolute;
	top:43%;
	font-family: 'Droid Sans', sans-serif;
	left:0;
	text-align: center;
	right:0;
	word-wrap:break-word;
}

.center{
	-webkit-transform: translate(0,0);
	   -moz-transform: translate(0,0);
	    -ms-transform: translate(0,0);
	     -o-transform: translate(0,0);
	        transform: translate(0,0);
}
.left{
	-webkit-transform: translate(100%,0);
	   -moz-transform: translate(100%,0);
	    -ms-transform: translate(100%,0);
	     -o-transform: translate(100%,0);
	        transform: translate(100%,0);
}
.right{
	-webkit-transform: translate(-100%,0);
	   -moz-transform: translate(-100%,0);
	    -ms-transform: translate(-100%,0);
	     -o-transform: translate(-100%,0);
	        transform: translate(-100%,0);
}
.bottom{
	-webkit-transform: translate(0,100%);
	   -moz-transform: translate(0,100%);
	    -ms-transform: translate(0,100%);
	     -o-transform: translate(0,100%);
	        transform: translate(0,100%);
}
.top{
	-webkit-transform: translate(0,-100%);
	   -moz-transform: translate(0,-100%);
	    -ms-transform: translate(0,-100%);
	     -o-transform: translate(0,-100%);
	        transform: translate(0,-100%);
}


/*brooklyn beta*/

.welcome{
	height:100%;
	position:absolute;
	color:rgb(70, 67, 58);
	opacity: 1;
	font-family: 'Droid Sans', sans-serif;
	font-size: 5vw;
	display:table-cell;
	text-align: center;
	width:100%;
	z-index:999999;
	background-color:rgb(222, 212, 185);

	-webkit-transition: all 1s ease-out;
	   -moz-transition: all 1s ease-out;
	    -ms-transition: all 1s ease-out;
	     -o-transition: all 1s ease-out;
	        transition: all 1s ease-out;
}
.welcomecon{
	margin-top:20%;
}

.eng{
	color:rgb(100, 182, 177);
	cursor:pointer;

	-webkit-animation:blink .5s ease 0s infinite alternate;
}

@-webkit-keyframes blink {
	0% { color:rgb(100, 182, 177); }
	100% { color:rgb(140, 212, 207); }
}
@-moz-keyframes blink {
	0% { color:rgb(100, 182, 177); }
	100% { color:rgb(140, 212, 207); }
}
@-ms-keyframes blink {
	0% { color:rgb(100, 182, 177); }
	100% { color:rgb(140, 212, 207); }
}
@-o-keyframes blink {
	0% { color:rgb(100, 182, 177); }
	100% { color:rgb(140, 212, 207); }
}
@keyframes blink {
	0% { color:rgb(100, 182, 177); }
	100% { color:rgb(140, 212, 207); }
}